* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
}



main {
  @include main-font;
}

h1, .h1 {
  font-size: 2em;
  margin: .75em 0;
}

h2, .h2 {
  font-size: 1.5em;
  line-height: 1;
  margin: 0 0 1em 0;
}

h3, .h3 {
  margin: 0 0 1.1em 0;
  font-size: 1.25em;
  line-height: 1.25;
}

h4, h5, h6,
.h4, .h5, .h6 {
  margin: 0;
}

h4, .h4 {
  font-size: 1em;
}

h5, .h5 {
  font-size: 0.9em;
  line-height: 1.7;
}

h6, .h6 {
  font-size: 0.8em;
  line-height: 2;
}

p {
  margin: 0 0 1.5em 0;
}

code {
  color: $color-primary;
  font-style: italic;
}
