/*
*** Sticky Footer
 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

/*
*** Page Container & Layout
 */
.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;

  @include mq('m') {
    max-width: 800px
  }
}

.row {
  margin: 0 -8px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


@for $i from 1 through 12 {
  .col-#{$i} {
    flex-basis: 100%;
    padding: 0 8px;
  }

  @each $bp, $width in $breakpoints {
    .col-#{$bp}-#{$i} {
      flex-basis: 100%;
      padding: 0 8px;
    }

    @include mq($bp) {
      .col-#{$bp}-#{$i} {
        flex-basis: $i / 12 * 100%;
      }
    }
  }
}
