.btn {
  padding: 0.5em 0.75em;
  display: inline-block;
  box-shadow: 0 0 1px $gray-dark;
  border: 1px $gray-dark solid;

  &-light {
    border-color: $silver;
    color: $silver;
    box-shadow: 0 0 1px $silver;

    &:active {
      background-color: $gray-lightest;
    }
  }

  $colors: (
    "green": $color-primary-darker,
    "brown": $brown,
    "blue": $blue
  );

  @each $name, $color in $colors {
    &-#{$name} {
      color: $silver;
      border-color: $color;
      background-color: $color;
      box-shadow: 0 0 1px $color;

      &:active {
        background-color: darken($color, 5%);
      }
    }
  }
}

a.btn {
  text-decoration: none;
}