@import 'variables';
@import 'mixins';
@import 'functions';

.center {
  text-align: center;
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none !important;
}

.show {
  display: block
}